body {
    background: #0f172a;
    color: #e5e7eb;
    font-family: Arial;
    text-align: center;
}

#world {
    margin: 30px auto;
    width: 500px;
    height: 60px;
    background: #1e293b;
    border-radius: 10px;
}
